@use "../variables/variables" as v;
@use "../mixins/mixins" as m;

$border-color: rgba(128, 128, 128, 0.35);
.moviePage {
  .backgroundImage {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
  .mainSection {
    margin-top: -45vh;
    padding: 2rem;
    color: white;
    display: flex;
    width: 100%;
    font-family: v.$helperFont;
    font-weight: 400;
    //to specify the three divs
    > div {
      flex: 1;
    }
    > div:nth-child(2) {
      //the div with the title
      flex: 2.4;
      padding: 0.2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 0.8rem;
      .infoSection {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    .votes {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      svg {
        width: clamp(6rem, 65%, 12rem);
      }
      > h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
    h1 {
      font-family: v.$titleFont;
      font-size: 3.5rem;
    }
    span {
      opacity: 0.5;
    }
    .poster {
      @include m.verticalMovieCard;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      flex: 1;
      border: 1px solid white;
      padding: 1rem;
      gap: 1.25rem;
      *:nth-child(2) {
        align-self: flex-end;
      }
    }
    .genres {
      display: flex;
      gap: 1rem;
      position: relative;

      .genre {
        background-color: rgb(9, 9, 9);
        border: 1px solid gray;
        border-radius: 0.5rem;
        font-size: large;
        padding: 0.75rem 2.5rem;
        position: relative;
        color: white;
        font-family: v.$mainFont;
        @include m.glowHover;
      }
    }
  }
  .supplementarySection {
    padding: 0 2rem;
    min-height: 100svh;
    display: grid;
    grid-template: auto auto 1fr / 3fr 1fr;
    gap: 1rem;
    color: white;
    //titles
    h2 {
      font-size: 2rem;
      font-family: v.$titleFont;
      border-bottom: 1px solid $border-color;
      margin-bottom: 0.5rem;
    }
    .plot {
      p {
        font-family: v.$mainFont;
        font-size: 1.25rem;
        opacity: 0.75;
      }
    }
    .trailer {
      grid-column: 1/2;
      > iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
      //in case there is no trailer
      > div {
        display: grid;
        height: 100%;
        width: 100%;
        place-content: center;
        font-family: v.$titleFont;
        font-size: 2rem;
      }
    }
    .cast {
      grid-column: 2/3;
      grid-row: 1/4;
      h2 {
        border: none;
        text-align: center;
        margin: 2rem 0;
      }
      .castHolder {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .castMember {
        display: flex;
        align-items: center;
        height: 4rem;
        gap: 1rem;
        border-radius: 1rem;
        @include m.glowHover;
        padding: 2.5rem 1rem;
        box-shadow: 0 0 0px white;
        //extra effects
        transition: all 0.5s;
        &:hover {
          box-shadow: 0 0 12px white;
          transform: translateY(-10%);
        }
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 2rem;
          object-fit: cover;
          position: relative;
          z-index: 2;
        }
        .castInfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: large;
          font-family: v.$mainFont;
          padding: 1rem;
          span {
            opacity: 0.5;
          }
        }
      }
    }
    .recommendations {
      grid-column: 1/3;
      > div {
        display: flex;
        gap: 2rem;
        padding: 1rem;
        flex-wrap: wrap;
        width: 100%;
        > div {
          flex: 1;
        }
      }
    }
  }
}
