@use "../variables/variables" as v;
@use "../mixins/mixins" as m;
.moviePage {
  .backgroundImage {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
  .mainSection {
    margin-top: -20vh;
    padding: 2rem;
    color: white;
    display: flex;
    width: 100%;
    font-family: v.$helperFont;
    font-weight: 400;
    //to specify the three divs
    > div {
      flex: 1;
    }
    > div:nth-child(2) {
      //the div with the title
      flex: 2.4;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      .infoSection {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    .votes {
      margin-left: 2rem;
      display: grid;
      gap: 1rem;
      grid-template: 1fr/ 1fr 1fr;
      place-items: center;
      > h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
    h1 {
      font-family: v.$titleFont;
      font-size: 3.5rem;
    }
    span {
      opacity: 0.5;
    }
    .poster {
      @include m.verticalMovieCard;
      overflow: hidden;
      margin-top: -40vh;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      flex: 1;
      border: 1px solid white;
      padding: 1rem;
      gap: 1.25rem;
      *:nth-child(2) {
        align-self: flex-end;
      }
    }
    .genres {
      display: flex;
      gap: 1rem;
      position: relative;

      .genre {
        background-color: rgb(9, 9, 9);
        border: 1px solid gray;
        border-radius: 0.5rem;
        font-size: large;
        padding: 0.75rem 2.5rem;
        position: relative;
        color: white;
        font-family: v.$mainFont;
        @include m.glowHover;
      }
    }
  }
}
