@use "../variables/variables" as v;
@use "../mixins/mixins" as m;
//Animations
@keyframes hoverMovie {
  from {
    transform: translateY(0%);
    opacity: 0;
    visibility: visible;
  }
  40% {
    transform: translateY(-3.5%) scale(1.02);
  }

  to {
    transform: translateY(0%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.movieCard {
  @include m.verticalMovieCard;
  transition: all 0.25s linear;
  overflow: hidden;
  &:hover {
    border: 2px solid white;
    scale: 1.02;
    cursor: pointer;
    .movieInfo {
      animation: hoverMovie 0.65s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  .moviePoster {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  .movieInfo {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    top: 0;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template: auto auto 1fr / 1fr;
    gap: 1rem;
    transform: translateY(100%);
    visibility: hidden;
    h3 {
      font-family: v.$titleFont;
      font-weight: 700;
    }
    p {
      font-family: v.$helperFont;
      font-weight: 500;
    }
    .mainInfo {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-family: v.$mainFont;
      //release date
      span {
        color: rgba(211, 211, 211, 0.866);
      }
    }
    .genres {
      margin-top: 0.75rem;
      display: flex;
      width: 100%;
      gap: 0.5rem;
      justify-content: center;
      border-bottom: 2px double gray;
      padding: 0 0 1rem 0;
      .genre {
        background-color: black;
        border-radius: 0.4rem;
        height: 3.25rem;
        padding: 0 1rem;
        border: 2px solid gray;
        font-family: v.$titleFont;
        font-weight: 400;
        font-size: 0.91rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
