.nav {
  position: absolute;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  gap: 4rem;
  //icons
  * {
    transition: all 0.3s linear;
  }
  *:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: translateY(-10%);
  }
}
