@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;600&family=Raleway:wght@400;500;700&display=swap");
$titleFont: "Raleway", sans-serif; //400 500 700
$mainFont: "Poppins", sans-serif; //400 600
$helperFont: "Josefin Sans", sans-serif; //400
