@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Merriweather:ital,wght@0,400;1,900&family=Mulish:ital,wght@0,500;1,300&display=swap"); /*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Mulish', sans-serif;
*/
/*general*/
* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
}

#root {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template: 6rem 1fr / 1fr;
  gap: 1.5rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.5971638655462185) 100%
  );
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.mainBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  z-index: -2;
  transition: all linear 4s;
}
/*main page*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 4rem;
}
.icon {
  margin-top: 1.2rem;
  height: 2rem;
  width: auto;
  transition: transform 0.3s linear;
  color: white;
}
.icon:hover {
  transform: translateY(-5px);
  cursor: pointer;
  opacity: 0.75;
}
.mainOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80vh;
  opacity: 0.6;
  z-index: -1;
}
.main {
  display: grid;
  grid-template: 2rem 85vh 65vh 60vh 10vh 3rem/1fr;
  gap: 1.5rem;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}
.main h2 {
  align-self: center;
  justify-self: center;
  font-family: "Merriweather", serif;
}
.latestMovies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
  padding: 1rem;
}
.popularMovie {
  width: clamp(14rem, 90%, 28rem);
  border-radius: 1rem;
  box-shadow: 0px 0px 4px snow;
  transition: all 0.3s linear;
  position: relative;
}
.popularMovie img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}
.popularMovie:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 8px snow;
}
.popularMovie .overlay {
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
}
.popularMovie:hover .overlay {
  opacity: 1;
}
.popularMovie .overlay > * {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid snow;
  padding: 0.5rem;
}

.trendingMovies {
  display: flex;
  flex-direction: column;
  flex-basis: 1 1 0%;
  padding: 1rem;
  gap: 1rem;
  font-family: "Merriweather", serif;
  font-style: italic;
}
.trendingMovies > div {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 2rem;
}
.popularMovieHorizontal {
  display: flex;
  align-items: flex-end;
  flex-basis: 45%;
  background-size: cover;
  background-position: 50%;
  border-radius: 1rem;
  border: 0;
  transition: transform 0.3s linear;
}
.popularMovieHorizontal:first-of-type {
  flex-basis: 60%;
}
.popularMovieHorizontal:hover {
  box-shadow: 0px 0px 8px snow;
  transform: scale(1.02);
}
.popularMovieHorizontal > span {
  font-family: "Mulish", sans-serif;
  font-size: large;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 1rem;
}
.discoverMovies {
  font-family: "Merriweather", serif;
  font-style: italic;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.swiperContainer {
  width: 80vw;
  min-height: 100%;
  border-radius: 1rem;
}
.movieSlide {
  height: 100%;
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.movieSlide .overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}
.movieSlide .overlay > * {
  font-family: "Mulish", sans-serif;
  text-align: center;
  border-bottom: 2px solid slateblue;
}
.movieSlide:hover .overlay {
  opacity: 1;
}
.footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.footer h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Merriweather", serif;
}
.footer svg:first-of-type {
  /*the heart icon*/
  fill: red;
}
.footer svg {
  transition: transform 0.3s linear;
}
.footer svg:hover {
  transform: translateY(-5px);
  cursor: pointer;
  opacity: 0.75;
}
/**/
.moviePage {
  display: grid;
  margin-top: 17rem;
  grid-template:
    8rem 4rem 9.25rem 1fr
    / 25rem 1fr;
  color: white;
  background: black;
  font-family: "Josefin Sans", sans-serif;
}
.movieBackdrop {
  position: absolute;
  height: 25rem;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: 50% 30%;
  z-index: -1;
}
.movieBackdrop .overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.moviePoster {
  grid-row: 1/4;
  padding: 1rem;
  position: relative;
}
.moviePoster > img {
  height: auto;
  width: 95%;
  position: relative;
  top: -12.5rem;
  border-radius: 1rem;
  border: 2px solid #1e293b;
  font-size: larger;
  left: 1.2rem;
}
.genres {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-top: 0.75rem;
}
.genre {
  background-color: rgb(12, 11, 11);
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 8.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid snow;
  transition: transform 0.25s ease;
}
.genre:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 8px white;
}
.movieInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.movieInfo > div {
  flex: 1;
  height: 100%;
  border: 1px solid snow;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  font-size: xx-large;
}
.movieInfo > div > p {
  color: lightgray;
  align-self: flex-start;
  font-size: x-large;
}
.movieFooter {
  margin-top: 1.5rem;
  display: grid;
  grid-column: 1/3;
  grid-template: min-content 1fr 1fr / 1fr 25rem;
}
.storyLine {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: min-content;
}
.movieFooter h2 {
  font-size: xx-large;
  color: lightgray;
  padding: 1rem;
  border-bottom: 1px solid snow;
}

.similar {
  margin-top: 2.5rem;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.similar h2 {
  width: 100%;
  align-self: flex-start;
}
.movieFooter > * {
  padding: 1rem;
}
.movieFooter .movieCards {
  display: flex;
  width: 80%;
  gap: 1rem;
}
.movieFooter .movieCard {
  height: 100%;
  flex: 1;
  width: 20vw;
}
.trailer {
  height: calc(100% - 3rem);
  width: 100%;
}
.cast {
  grid-area: 1 / 2 / 3/3;
  display: grid;
  grid-template: 5rem/1fr;
  grid-auto-rows: 5rem;
  overflow-y: auto;
}
.cast > h2 {
  height: fit-content;
}
.castCard {
  border: 1px solid rgb(99, 97, 97);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: lightcyan;
  font-size: large;
  font-family: "Mulish", sans-serif;
  transition: all 0.2s linear;
  cursor: pointer;
}
.castCard:hover {
  box-shadow: 0 0 6px white;
  scale: 1.01;
}
.castCard > img {
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 4rem;
  border: 2px solid snow;
  object-fit: cover;
  object-position: 50%;
}
