@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@500&display=swap");

/*fonts*/
/*
font-family: 'Merriweather', serif;
font-family: 'Mulish', sans-serif;
*/
/*general*/
* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
}

#root {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template: 6rem 1fr / 1fr;
  gap: 1.5rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.5971638655462185) 100%
  );
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.mainBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  z-index: -2;
  transition: all linear 4s;
}
/*main page*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 4rem;
}
.icon {
  margin-top: 1.2rem;
  height: 2rem;
  width: auto;
  transition: transform 0.3s linear;
  color: white;
}
.icon:hover {
  transform: translateY(-5px);
  cursor: pointer;
  opacity: 0.75;
}
.mainOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80vh;
  z-index: -1;
  opacity: 0.6;
}
.main {
  display: grid;
  grid-template: 2rem 85vh 65vh 60vh 30vh/1fr;
  gap: 1.5rem;
  color: white;
}
.main h2 {
  align-self: center;
  justify-self: center;
  font-family: "Merriweather", serif;
}
.latestMovies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
  padding: 1rem;
}
.popularMovie {
  width: clamp(14rem, 90%, 28rem);
  border-radius: 1rem;
  box-shadow: 0px 0px 4px snow;
  transition: all 0.3s linear;
  position: relative;
}
.popularMovie img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}
.popularMovie:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 8px snow;
}
.popularMovie .overlay {
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
}
.popularMovie:hover .overlay {
  opacity: 1;
}
.overlay > * {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid snow;
  padding: 0.5rem;
}

.trendingMovies {
  display: flex;
  flex-direction: column;
  flex-basis: 1 1 0%;
  padding: 1rem;
  gap: 1rem;
  font-family: "Merriweather", serif;
}
.trendingMovies > div {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 2rem;
}
.popularMovieHorizontal {
  display: flex;
  align-items: flex-end;
  flex-basis: 45%;
  background-size: cover;
  background-position: 50%;
  border-radius: 1rem;
  border: 0;
  transition: transform 0.3s linear;
}
.popularMovieHorizontal:first-of-type {
  flex-basis: 60%;
}
.popularMovieHorizontal:hover {
  box-shadow: 0px 0px 8px snow;
  transform: scale(1.02);
}
.popularMovieHorizontal > span {
  font-family: "Mulish", sans-serif;
  font-size: large;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 1rem;
}
.discoverMovies {
  font-family: "Merriweather", serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.swiperContainer {
  width: 80vw;
  min-height: 100%;
  border-radius: 1rem;
}
.movieSlide {
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
